//color variables
$color-bg-intro: hsl(217, 28%, 15%);
$color-neutral: hsl(0, 0%, 100%);
$color-bg-testimonials: hsl(219, 30%, 18%);
$color-bg-main: hsl(218, 28%, 13%);
$color-bg-footer: hsl(216, 53%, 9%);

$color-accent-cyan: hsl(176, 68%, 64%);
$color-accent-blue: hsl(198, 60%, 50%);
$color-accent-red: hsl(0, 100%, 63%);

//font variables
$font-raleway: "Raleway", sans-serif;
$font-open-sans: "Open Sans", sans-serif;
$font-medium: 400;
$font-bold: 700;

$font-nav: 1rem;
$font-h1: 2.5rem;
$font-p: 1.2rem;


$line-height-h1: 3rem;
$line-height: 1.7rem;

