/* Desktop view */
html{
    width:100%;
    
}
body{
    height: 100vh;
    min-width: 1440px;
    background: hsl(217, 28%, 13%);
    /* margin: 50px 50px 0 50px; */
}

header{
    background: hsl(217, 28%, 15%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 15px 0 15px;
    padding-top: 20px;
}

.logo{
    width: 40%;
}

.nav{
    display: flex;
    justify-content: space-evenly;
    min-width: 40%;
}

.nav a{
    font-weight: 400;
    font-size: 1rem;
}

.nav a:hover{
    font-weight: 700;
    text-decoration: underline;
}

.container {
    background-image: url(images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    width: 100%;
    min-height: 100px;
    background-color: hsl(217, 28%, 15%);
    /* margin: 0px auto; */
}
.hero1 {
    max-width: 50%;
    min-height: 400px;
    margin: 0px auto;
    /* background-color:yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    text-align: center;
}
.hero-image {
    margin-top: 50px;
}
.hero-image img {
    width: 80%;
    height: auto;
}
.hero-header h1 {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 3rem;
}

.hero-sub-heading{
    width: 70%;
    margin-top: 20px;
}
.hero-sub-heading p {
    font-family: 'Open Sans', sans-serif;
    color: hsl(0, 0%, 70%);
    font-size: 1.2rem;
    font-weight: 400px;
    /* margin: 0px 100px; */
    line-height: 1.7rem;
    text-align: center;
    
}
.hero-button {
    margin: 60px 0px 100px 0px;
}
.hero-button a {
    text-decoration: none;
    background-color: hsl(176, 68%, 64%);
    color: white;
    padding: 20px 80px;
    border-radius: 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.container2{
    width: 100%;
    display:grid;
    margin: 0 auto;
    grid-template-areas: 
    "tile1 tile2"
    "tile3 tile4";
    
    text-align: center; 
    grid-gap: 50px;
    max-width: 50%;
}
/* .tile img{
    color: hsl(198, 60%, 50%);
} */
.tile h3{
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
    color: hsl(0, 0%, 100%);
    font-size: 1.2rem;
    font-weight: 600;
}
.tile p{
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    color: hsl(0, 0%, 70%);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.7rem;
}
.tile1{
    grid-area: tile1;

}
.tile2{
    grid-area: tile2;
}
.tile3{
    grid-area: tile3;
    
}
.tile4{
    grid-area: tile4;
}

.container3{
    display: flex;
    justify-content: center;
    /* align-content: center; */
    align-items: center;
    margin: 0 auto;
    width: 75%;
    
}
.copyimg{
    margin-right: 50px;
}



.copy h2{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.1rem;
    color: white;
}
.copy1{
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    color: hsl(0, 0%, 70%);
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.7rem;
}

.copylink{
    text-decoration: underline;
}

.copylink a{
    color: hsl(176, 68%, 64%) ;
}


/* Mobile design */
@media (min-width:375px){

    header{
        width: 100%;
    }

    .logo,.nav{
        width: 1fr;
    }
}

