.container2 .tile1 h3, .container2 .tile2 h3, .container2 .tile3 h3, .container2 .tile4 h3 {
  margin-top: 20px;
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
}

@media (max-width: 768px) {
  .container2 .tile1 h3, .container2 .tile2 h3, .container2 .tile3 h3, .container2 .tile4 h3 {
    font-size: 1rem;
  }
}

@media (max-width: 556px) {
  .container2 .tile1 h3, .container2 .tile2 h3, .container2 .tile3 h3, .container2 .tile4 h3 {
    font-size: 0.875rem;
  }
}

.container2 .tile1 p, .container2 .tile2 p, .container2 .tile3 p, .container2 .tile4 p {
  margin-top: 20px;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7rem;
}

@media (max-width: 768px) {
  .container2 .tile1 p, .container2 .tile2 p, .container2 .tile3 p, .container2 .tile4 p {
    font-size: 0.875rem;
  }
}

@media (max-width: 556px) {
  .container2 .tile1 p, .container2 .tile2 p, .container2 .tile3 p, .container2 .tile4 p {
    font-size: 0.75rem;
  }
}

.footer .flex-info .footer-location, .footer .flex-info .footer-contact .phone, .footer .flex-info .footer-contact .email, .footer .footer-link a {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

/* Desktop view */
html {
  background: #181f2a;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a, a:hover, a:focus {
  text-decoration: none;
  color: white;
}

/* header stlye */
header {
  background: #1c2431;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 80px;
  font-family: "Open Sans", sans-serif;
  /* fylo logo */
}

@media screen and (max-width: 768px) {
  header {
    padding: 20px;
  }
}

header .logo {
  max-width: 30%;
  padding: 1.25rem 0 0 1.25rem;
}

@media screen and (max-width: 768px) {
  header .logo {
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

header nav a {
  font-weight: 400;
  font-size: 1rem;
}

header nav a:not(:first-child) {
  margin-left: 30px;
}

@media screen and (max-width: 768px) {
  header nav a:not(:first-child) {
    margin-left: 20px;
  }
}

header nav a:hover {
  font-weight: 700;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  header nav a {
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 556px) {
  header nav a {
    font-size: 0.75rem;
  }
}

/* hero stlye */
.container {
  padding: 20px;
  background-image: url(images/bg-curvy-desktop.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  width: 100%;
  min-height: 6.25rem;
  background-color: #1c2431;
  /* margin: 0px auto; */
}

@media screen and (max-width: 556px) {
  .container {
    background-image: url(./images/bg-curvy-mobile.svg);
    background-size: contain;
  }
}

.container .hero1 {
  max-width: 50%;
  min-height: 400px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 30px;
}

@media screen and (max-width: 768px) {
  .container .hero1 {
    max-width: 100%;
    gap: 20px;
  }
}

.container .hero-image {
  margin-top: 50px;
}

.container .hero-image img {
  width: 80%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .container .hero-image img {
    width: 90%;
  }
}

.container h1 {
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 3rem;
}

@media screen and (max-width: 768px) {
  .container h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

@media screen and (max-width: 556px) {
  .container h1 {
    font-size: 1.875rem;
    line-height: 2rem;
  }
}

.container .hero-sub-heading p {
  font-family: "Open Sans", sans-serif;
  color: #b3b3b3;
  font-size: 1.2rem;
  font-weight: 400;
  /* margin: 0px 100px; */
  line-height: 1.7rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .container .hero-sub-heading p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .container .hero-sub-heading p {
    font-size: 0.875rem;
  }
}

.container .hero-button {
  margin: 20px 0px 100px 0px;
}

.container .hero-button input[type=button] {
  border: none;
  text-decoration: none;
  background: #65e2d9;
  color: white;
  padding: 20px 80px;
  border-radius: 50px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.container .hero-button input[type=button]:hover {
  background: #ff4242;
}

/* feature tiles style with CSS grid*/
.container2 {
  display: -ms-grid;
  display: grid;
  margin: 100px auto;
      grid-template-areas: "tile1 tile2" "tile3 tile4";
  text-align: center;
  grid-row-gap: 50px;
  grid-column-gap: 200px;
  max-width: 65%;
}

@media screen and (max-width: 768px) {
  .container2 {
    max-width: 100%;
        grid-template-areas: "tile1" "tile2" "tile3" "tile4";
  }
}

.container2 img {
  margin: auto;
  width: 30%;
}

@media screen and (max-width: 768px) {
  .container2 img {
    max-width: 20%;
  }
}

.container2 .tile1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: tile1;
}

.container2 .tile2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: tile2;
}

.container2 .tile3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: tile3;
}

.container2 .tile4 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: tile4;
}

.container3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* align-content: center; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 100px auto;
  padding: 0 5rem;
}

@media screen and (max-width: 768px) {
  .container3 {
    padding: 0 20px;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: auto;
  }
}

.container3 .copyimg {
  margin-right: 50px;
}

@media screen and (max-width: 768px) {
  .container3 .copyimg {
    margin: auto;
    width: 100%;
  }
}

.container3 .copy h2 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.5rem;
  color: white;
}

@media screen and (max-width: 768px) {
  .container3 .copy h2 {
    margin-top: 30px;
    font-size: 1.5rem;
    line-height: 1.7rem;
  }
}

@media screen and (max-width: 556px) {
  .container3 .copy h2 {
    font-size: 1rem;
    line-height: 2rem;
  }
}

.container3 .copy1 {
  margin-top: 20px;
  font-family: "Open Sans", sans-serif;
  color: #b3b3b3;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7rem;
}

@media screen and (max-width: 768px) {
  .container3 .copy1 {
    margin-top: 10px;
    font-size: 0.875rem;
    line-height: 1.3rem;
  }
}

@media screen and (max-width: 556px) {
  .container3 .copy1 {
    font-size: 0.75rem;
  }
}

.container3 hr {
  margin-top: 2px;
  width: 180px;
  color: #65e2d9;
}

.container3 hr:hover {
  color: white;
}

@media screen and (max-width: 768px) {
  .container3 hr {
    width: 145px;
  }
}

@media screen and (max-width: 556px) {
  .container3 hr {
    width: 125px;
  }
}

.container3 .copy-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container3 .copy-link a {
  color: #65e2d9;
}

.container3 .copy-link img {
  max-width: 4%;
}

@media screen and (max-width: 556px) {
  .container3 .copy-link img {
    max-width: 5%;
  }
}

.container3 .link-container:hover {
  color: white;
}

.testimonial {
  width: 80%;
  margin: 50px auto 250px auto;
  padding: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[3];
      grid-template-columns: repeat(3, minmax(150px, 1fr));
  -ms-grid-rows: minmax(150px, auto);
      grid-template-rows: minmax(150px, auto);
  grid-gap: 20px;
  background-image: url(./images/bg-quotes.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-position-x: 10px;
}

@media screen and (max-width: 768px) {
  .testimonial {
    grid-gap: 40px;
    -ms-grid-columns: minmax(150px, auto);
        grid-template-columns: minmax(150px, auto);
    -ms-grid-rows: (minmax(150px, 1fr))[3];
        grid-template-rows: repeat(3, minmax(150px, 1fr));
  }
}

.testimonial .test {
  background: #202a3c;
  -webkit-box-shadow: 0 0 4px #181f2a;
          box-shadow: 0 0 4px #181f2a;
  border-radius: 5px;
  padding: 30px;
  color: white;
}

.testimonial .test .testbody {
  margin-top: 20px;
  font-family: "Open Sans", sans-serif;
  color: #b3b3b3;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.7rem;
}

@media screen and (max-width: 768px) {
  .testimonial .test .testbody {
    font-size: 0.875rem;
    line-height: 1.3rem;
  }
}

@media screen and (max-width: 556px) {
  .testimonial .test .testbody {
    font-size: 0.75rem;
  }
}

.testimonial .test .testprofile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial .test .testprofile .testimg {
  width: 20%;
}

@media screen and (max-width: 768px) {
  .testimonial .test .testprofile .testimg {
    width: 10%;
  }
}

.testimonial .test .testprofile .testimg img {
  border-radius: 100px;
}

.testimonial .test .testdetails {
  margin-left: 20px;
}

.testimonial .test .testdetails h4 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: white;
}

@media screen and (max-width: 768px) {
  .testimonial .test .testdetails h4 {
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 556px) {
  .testimonial .test .testdetails h4 {
    font-size: 0.75rem;
  }
}

.testimonial .test .testdetails p {
  margin-top: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #b3b3b3;
  font-size: 0.875rem;
}

@media screen and (max-width: 768px) {
  .testimonial .test .testdetails p {
    margin-top: 5px;
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 556px) {
  .testimonial .test .testdetails p {
    font-size: 0.5rem;
  }
}

.subscription-container {
  font-family: "Open Sans", sans-serif;
  color: white;
  background: #181f2a;
  margin-top: -50px;
  padding: 0px 20px;
  position: relative;
}

.subscription-container .subscription {
  background-color: #1c2431;
  -webkit-box-shadow: 4px 7px 4px #0b1523;
          box-shadow: 4px 7px 4px #0b1523;
  max-width: 43.75rem;
  min-height: 200px;
  margin: 0px auto;
  text-align: center;
  padding: 30px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.subscription-container .subscription h2 {
  font-size: 1.7rem;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .subscription-container .subscription h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 556px) {
  .subscription-container .subscription h2 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 768px) {
  .subscription-container .subscription p {
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 556px) {
  .subscription-container .subscription p {
    font-size: 0.75remrem;
  }
}

.subscription-container .subscription .form-container {
  width: 100%;
  min-height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscription-container .subscription .form-container form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 600px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 40px;
}

.subscription-container .subscription .form-container form input:first-of-type {
  background-color: white;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 300px;
          flex: 2 1 300px;
  margin-top: 10px;
  padding-left: 20px;
  border: 3px solid white;
}

@media screen and (max-width: 768px) {
  .subscription-container .subscription .form-container form input:first-of-type {
    width: 100%;
  }
}

.subscription-container .subscription .form-container form input:last-of-type {
  background-color: #339ecc;
  border: 1px solid #339ecc;
  color: white;
  font-weight: 800;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 150px;
          flex: 1 1 150px;
  margin-top: 10px;
}

.subscription-container .subscription .form-container form input:last-of-type:hover {
  background-color: #65e2d9;
}

@media screen and (max-width: 768px) {
  .subscription-container .subscription .form-container form input:last-of-type {
    width: 100%;
    margin-left: 0;
  }
}

.subscription-container .subscription .form-container .form_text-area {
  height: 40px;
  border-radius: 50px;
}

.subscription-container .subscription .form-container .form_button {
  height: 50px;
  border-radius: 50px;
  margin-left: 15px;
}

/* footer style*/
.footer {
  min-height: 60%;
  margin: 0 auto;
  padding: 20px 80px;
  background: #0b1523;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 20px;
  }
}

.footer .footer-logo {
  margin-top: 70px;
  max-width: 30%;
}

.footer .flex-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .footer .flex-info {
    margin-top: 70px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer .flex-info img {
  width: 27px;
}

.footer .flex-info .footer-location {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .flex-info .footer-location img {
  margin-top: -50px;
}

.footer .flex-info .footer-location p {
  margin-top: -50px;
  margin-left: 20px;
}

.footer .flex-info .footer-contact {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 768px) {
  .footer .flex-info .footer-contact {
    margin-top: 20px;
    margin-left: 0px;
  }
}

.footer .flex-info .footer-contact .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .flex-info .footer-contact .phone p {
  margin-left: 20px;
}

.footer .flex-info .footer-contact .email {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .flex-info .footer-contact .email p {
  margin-left: 20px;
}

.footer .footer-link {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20px, 100px))[2];
      grid-template-columns: repeat(2, minmax(20px, 100px));
  -ms-grid-rows: (minmax(20px, 30px))[4];
      grid-template-rows: repeat(4, minmax(20px, 30px));
  grid-gap: 10px;
}

@media screen and (max-width: 768px) {
  .footer .footer-link {
    margin-top: 20px;
    -ms-grid-columns: minmax(20px, 100px);
        grid-template-columns: minmax(20px, 100px);
    -ms-grid-rows: (minmax(20px, 30px))[7];
        grid-template-rows: repeat(7, minmax(20px, 30px));
  }
}

.footer .footer-social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer-social-links a:not(:first-child) {
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .footer .footer-social-links {
    margin-top: 20px;
  }
}
/*# sourceMappingURL=style.css.map */